*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    color: white;
    background-color: rgb(31, 29, 29);
    font-family: Arial;
}
/* Menu button */
#ham-menu {
    display: none;
    width: 100%;
}
  
label[for="ham-menu"] { /* The X on the Menu */
    display: block;
    position: fixed;
    top: 2.5%;
    left: 1%;
    z-index: 999;
    width: 60px;
    height: 60px;
    background-color: var(--home-bg-color);
    border-radius: 15px;
    border: 2px solid var(--border-color);
}

.ham-menu { /* Menu */
    width: 20%;
    height: 50%;
    position: fixed;
    top: 0;
    visibility: hidden;
    transform: translate(-110%);
    z-index: 6;
    background-color: var(--lightest-green);
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 10px rgb(31, 20, 29);
}
  
.ham-menu>ul { /* Lettering height in Menu text */
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    padding: 20px;
    height: 50%;
}

.ham-menu>ul a{ /* Text inside the button */
    text-decoration: none;
    color: White;
    font-size: 16px;
}

.ham-menu>ul a:hover{ /* Text inside the button hovering */
    text-decoration: none;
    color: rgb(149, 202, 245);
    transition: 1s;
    font-weight: bold;
    font-size: 16px;
    font-size: 18px;
}

.ham-menu>ul>li {
    white-space: nowrap;
    letter-spacing: 0.15em;
    cursor: pointer;
}
  
#ham-menu:checked+label {
    background-color: transparent;
    border-color: var(--dark-green);
}
  
#ham-menu:checked~div.ham-menu {
    transform: translate(0px);
    visibility: visible;
}
  
.full-page-green {  /* background color of it */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark-green);
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    display: none;
    transition: 500ms;
    position: fixed;
}
  
#ham-menu:checked~div.full-page-green {
    display: block;
    visibility: visible;
    width: 100%;
}
  
[for="ham-menu"]>div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
}
  
.menu-line {
    display: block;
    width: 17px;
    height: 2px;
    margin: 10px 0 5px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: var(--border-color);
    transition: 500ms;
    transform-origin: right center;
}
  
[for="ham-menu"]>div>span:nth-child(4),
[for="ham-menu"]>div>span:nth-child(5),
[for="ham-menu"]>div>span:nth-child(6) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    transform-origin: left center;
}
  
#ham-menu:checked+label span {
    background-color: var(--dark-green);
}
  
#ham-menu:checked+label span:nth-child(2),
#ham-menu:checked+label span:nth-child(5) {
    transform: scale(0);
}
  
#ham-menu:checked+label span:nth-child(1) {
    transform: translateY(17px) rotate(45deg);
}
  
#ham-menu:checked+label span:nth-child(4) {
    transform: translateY(17px) rotate(-45deg);
}
  
#ham-menu:checked+label span:nth-child(3) {
    transform: translateY(-17px) rotate(-45deg);
}
  
#ham-menu:checked+label span:nth-child(6) {
    transform: translateY(-17px) rotate(45deg);
}
  
:root {
    --home-bg-color: rgb(53, 52, 52); /* Button Background */
    --menu-bg-color: #cbcbc2;
    --border-color: rgb(187, 187, 187); /* Border + Lines inside */
    --lightest-green: rgb(53, 52, 52); /* Menu Background Color */
    --dark-green: rgb(187, 187, 187); /* Button Border + Lines inside menu */
}
  
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* menu button end */
.Image1:hover + .clickedText{
    display: block;
}

.clickedText{
    display: none;
    align-items: center;
}