*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box; 
    padding: 0; 
    margin: 0;
}

body{
    background-color: rgb(31, 29, 29);
    border-color: white;
    color: white
}

.header{
    font-size: 70px;
    background-color: black;
    width: 100vw;
    height: 50vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.img-paragraph{
    position: relative;
}

.img-paragraph .imgSnow{
    width: 100%;
}

.img-paragraph .paragraph{
    color: yellow;
    position: absolute;
    top: 0;
    left: 0;
}

.container .capitais{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: space-around;
    background-color: white;
    padding: 50px;
    color: #000;
}

.container .capitais > div {
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    box-shadow: 3px 3px 10px #888888;
    margin: 10px;
}

.container .capitais img{
    border-radius: 20px 0 0 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .capitais div div:last-child {
    width: 380px;
    background-color: white;
    padding: 20px;
    border-radius: 0 20px 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .capitais div div p{
    font-weight: bold;
    font-size: larger;
}

.topLeft{

}

.top{

}

.topRight{

}

.left{

}

.mid{

}

.right{

}

.botLeft{

}

.bot{

}

.botRight{

}

.extra1{

}

.extra2{
    
}

.extra3{
    
}

.capital{
    font-size: 45px;

    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration:underline;
}

.aroundCricle{
    display: flex;
    padding: 50px;
}

.circle{
    height: 200px;
    width: 200px;
    background-color: goldenrod;
    border-style:inset;
    border-color: gray;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle div:last-child{
    display: flex;
    align-items: center;
    justify-content:  center;
}

.square {
    height: 200px;
    width: 200px;
    color: white;
    font-size: 18px;
    background-color: grey;
    border-style: dashed;
    border-color: goldenrod;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.container .aroundCircle{
    padding: 20px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.insideCircleImg{
    position: absolute;
    opacity: 0.8;
    clip: rect(0px,200px,200px,0px);
    border-radius: 60%;
}


